# Entornos virtuales
.venv/
.venv_test/
venv/
env/
# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
# Git
.git/
.gitignore
# Docker
Dockerfile
docker-compose.yml
.dockerignore
# IDE / Editores
.idea/
.vscode/
*.sublime-*
# Tests
tests/
.pytest_cache/
.coverage
htmlcov/
# Archivos de entorno y configuración local
.env
.env.*
# Documentación y archivos del proyecto
README.md
LICENSE
# Directorio de documentos
documents/
